body {
    font-family: Helvetica;
    background-color: #e4e4e4;
}
p {
    font-weight: 500;
    font-size: 20px;
}
.header{
    height: 160px;
    padding: 25px;
    background-color: #673ab7;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    color: white;
    font-size: 19px;
}
.container-forms h3 {
    text-align: center;
    font-weight: 100;
    font-size: 30px;
}
.container-forms {
    padding: 40px;
    background-color: #ffff;
    position: relative;
    width: 40%;
    margin: 0 auto;
    top: -62px;
}
div label {
    display: block;
    padding: 10px;
}
div input {
    padding: 10px;
    display: block;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 50%;
    color: #fff;
    color: #000000;
}
